* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background: rgba(10,10,10,0.75);
  color: white;
}

#workspaces button,
#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#tray {
  background: #111111;
  border-radius: 12px;
  margin: 4px;
  padding: 0 12px;
}

#workspaces button {
  color: #777777;
  transition: all 0.2s ease;
}

#workspaces button.active {
  background: #ffffff;
  color: #000000;
}

#workspaces button:hover {
  background: #222222;
}
