* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: rgba(26, 27, 38, 0.85);
    color: #c0caf5;
}

#workspaces button {
    padding: 0 10px;
    color: #a9b1d6;
}

#workspaces button.active {
    color: #7aa2f7;
}

#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 4px;
}

#window {
    color: #c0caf5;
    padding-left: 12px;
}
