/* ==========================================
   Glass Wofi
========================================== */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    background: rgba(18,20,25,0.45);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;
}

#outer-box {
    margin: 18px;
}

#input {

    background: rgba(255,255,255,0.06);

    color: #ECEFF4;

    border: none;

    border-radius: 14px;

    padding: 14px;

    margin-bottom: 18px;
}

#input:focus {
    background: rgba(255,255,255,0.10);
}

#scroll {
    background: transparent;
}

#inner-box {
    background: transparent;
}

#entry {

    padding: 12px;

    margin: 3px 0;

    border-radius: 12px;

    transition: all 150ms ease;
}

#entry:hover {

    background: rgba(255,255,255,0.05);
}

#entry:selected {

    background: rgba(255,255,255,0.12);
}

#img {
    margin-right: 14px;
}

#text {
    color: #ECEFF4;
}
